{% extends "layout.html" %}

{% from 'radios/macro.njk' import radios %}
{% from 'fieldset/macro.njk' import fieldset %}
{% from 'hint/macro.njk' import hint %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    href: "/human",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/symptoms" method="post" novalidate>

{{ radios({
  idPrefix: "example-hints",
  name: "example-hints",
  fieldset: {
    legend: {
      text: "Are your parents magical?",
      classes: "nhsuk-fieldset__legend--l",
      isPageHeading: true
    }
  },
  hint: {
    text: "Answer yes if one or both of your parents have magical powers."
  },
  items: [
  {
    value: "yes",
    text: "Yes"
  },
  {
    value: "no",
    text: "No"
  },
  {
    value: "not sure",
    text: "I'm not sure"
  }
]
}) }}

{% from 'radios/macro.njk' import radios %}

{% from 'button/macro.njk' import button %}

{{ button({
  text: "Continue"
}) }}


      </form>
    </div>
  </div>
{% endblock %}